button#assistant-mic {
  cursor: pointer;
  height: 50px;
  width: 55px;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
